.cart-qty-wrapper {
    margin-top: .5rem;
}

.cart-qty-container {
    display: flex;
    align-items: center;
    height: 2rem;
}

.cart-qty-btn {
    border: none;
    display: flex;
    align-items: center;
    padding: .2rem;
    height: 100%;
    transition: all 200;
}

.cart-qty-btn:hover {
    cursor: pointer;
    background-color: #e4e4e4;
}

.cart-qty-btn svg {
    --size: 1.2rem;
    height: var(--size);
    width: var(--size);
}

.cart-qty-input {
    height: 100%;
    width: 2.5rem;
    border: 2px solid transparent;
    padding: .2rem;
    text-align: center;
}

.cart-qty-input:focus-visible {
    border: 2px solid lightblue;
}

.page-title {
    text-align: center;
    font-weight: 500;
    font-size: var(--text-lg);
    color: #434343;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
}

.cart-items__container {
    padding-block: 2rem 1rem;
    padding-inline: .5rem;

}

.cart-item-card {
    height: 8rem;
    padding: .6rem .5rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    box-shadow: 0 0 10px #e1e1e1;
}

.cart-item-card>.cart-item-card__image-container {
    width: 100px;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-card__details-container {
    flex: auto;
    padding-left: .5rem;
    color: #434343;
}

.cart-item-price {
    margin-top: .5rem;
}

.remove-cart-item svg {
    color: #cd0000;
}

.cart-order-summary-container {
    padding: 1rem .5rem;
}

.order-summary__title {
    font-size: var(--text-lg);
    font-weight: 500;
    color: #434343;
    margin-bottom: 1rem;
}

.cart-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cart-items__wrapper {
    flex: auto;
    overflow: scroll;
    max-height: 90vh;
}

.cart-items__wrapper::-webkit-scrollbar {
    width: 3px;
}

.cart-items__wrapper::-webkit-scrollbar-thumb {
    background-color: #434343;
    border-radius: 9px;
}

@media (min-width: 900px) {
    .cart-page {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-auto-rows: max-content;
        column-gap: 1rem;
    }

    .cart-page .header-simple {
        grid-column: span 10;
    }

    .cart-items__wrapper {
        grid-column: span 6;
        grid-row: 2;
    }

    .cart-summary__wrapper {
        grid-column: span 4;
        grid-row: 2;
    }

    .cart-order-summary-container {
        margin-top: 2rem;
        box-shadow: 0 0 10px #ececec;
        max-height: max-content;
        padding: 1rem;
        min-height: 10rem;
    }

    .or-sum-btn-checkt {
        margin-top: 1rem;
    }

}