.order-card {
    margin-bottom: 1rem;
    /* border: 1px solid #dbdbdb; */
    border: 1px solid #c7c7c7;
    padding: .5rem;
    border-radius: 9px;
}

.order-page-main {
    margin-top: 1rem;
    padding-inline: .5rem;
    height: 80vh;
    overflow-y: auto;
}

.order-item__card {
    padding: .25rem;
    height: 5rem;
    display: flex;
    border-block: 1px solid #c7c7c7;
}

.order-item__card:not(:last-of-type) {
    margin-bottom: .5rem;
}

.order-item__card-img {
    width: 5rem;
    flex-shrink: 0;
}

.order-item__card-img img {
    /* height: 100%;
    width: 100%;
    object-fit: cover; */
    height: 4.5rem;
    width: 4.5rem;
    object-fit: contain;
    margin: auto;
}

.order-item__card-details {
    margin-left: .25rem;
    display: flex;
    flex: auto;
}

.order-item-card-detail__left {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: .25rem;
}

.order-item__card-name {
    -webkit-box-direction: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.order-item-card-detail__right {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.order-status {
    background: #0eca05;
    border-radius: .25rem;
    padding: .2rem .5rem;
    width: max-content;
    /* font-weight: 500; */
    font-size: var(--text-xs);
    font-family: Poppins, 'roboto';
    color: #fff;
}

.order-status.delivered {
    background: #0eca05;
    color: #fff;
}