/* Product detail page carousel */
.productMedia-carousel__wrapper {
    box-shadow: 0 0 5px #ebebeb;
    margin: 0.25rem;
    padding: 0.25rem;
}

.carousel-container {
    height: 400px;
    position: relative;
}

.carousel-body {
    height: inherit;
    overflow: hidden;
}

.carousel-slides__container {
    height: 100%;
    display: flex;
    transition: transform 300ms;
}

.carousel-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.carousel-slide img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    z-index: 1;
    /* box-shadow: 0 0 10px #555; */
    box-shadow: 0 .0625rem .125rem .0625rem #00000026;
}

.carousel-btn:hover {
    box-shadow: 0 0 10px #00000049;
}

.carousel-btn svg {
    height: var(--icon-size-sm);
    width: var(--icon-size-sm);
}

.carousel-btn--right {
    right: 1%;
}

.carousel-btn--left {
    left: 1%;
}

.carousel-slides__navgiation-wrapper {
    margin-top: .5rem;
    width: 90%;
    margin-inline: auto;
    position: relative;
    border-top: 1px solid lightgray;
    padding: 0.25rem;
}

.carousel-slides__nav-elements__wrapper {
    overflow: hidden;
    height: 60px;
}

.carousel-slides__nav-elements__container {
    display: flex;
    height: 100%;
    padding-inline: 0.25rem;
    gap: .25rem;
    transition: transform 300ms;
}

.carousel-slides__nav-element {
    width: 70px;
    height: 100%;
    border: 1px solid #b7b7b7;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.carousel-slides__nav-element.active {
    border-color: rgb(114, 0, 48);
}

.carousel-slides__nav-element:hover {
    cursor: pointer;
}

.carousel-slides__nav-element img {
    max-height: 55px;
    object-fit: contain;
    max-width: 70px;
    margin: auto;
}

.media-carousel__nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

.media-carousel__nav-btn:hover {
    box-shadow: 0 .0625rem .125rem .0625rem #00000026;
}

.media-carousel__nav-btn--right {
    right: -5%;
}

.media-carousel__nav-btn--left {
    left: -5%;
}

.product-page_main {
    min-height: 100vh;
}

.product-info__details {
    padding-inline: .5rem;
}

.product-name {
    margin-block: .5rem;
    font-weight: 500;
    font-size: var(--text-lg);
}

.product-category {
    color: var(--color-primary);

}

.product-price {
    margin-block: 1rem;
    font-size: var(--text-lg);
    font-weight: 600;
}

.product-variants__wrapper {
    display: flex;
    gap: .5rem;
    margin-block: .5rem;
}

.product-variant-box {
    max-width: 60px;
    max-height: 60px;
    height: 60px;
    border: 1.4px solid #a3a3a3;
    border-radius: .2rem;
    padding: .25rem;
}


.product-variant-box:hover {
    /* border-color: #ff0b0b; */
    cursor: pointer;
}

.product-variant-box.active {
    border-color: #ff0b0b;
    border: 1.4px solid #ff0b0b;
}

.product-variant-box img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: auto;
}

.product-rating-wrapper {
    display: flex;
    gap: .5rem;
    align-items: flex-end;
}

.product-rating-row {
    display: flex;
    gap: .25rem;
    align-items: center;
    flex: unset !important;
}

.product-page__actions {
    margin-block: 1rem;
}


.product-page__description-section {
    margin-top: 3rem;
    padding: 1rem .5rem;
    color: #666;
}

.product-reviews {
    margin-top: 4rem;
    padding-inline: .5rem;
}



.product-seller__details {
    flex-basis: 20%;
    padding: 1rem .5rem;
    border-radius: 9px;
    background-color: #efefef;
    color: #000;
    display: none;
}


.verified-seller-tag {
    background-color: #78ff7d;
    color: #000;
    border-radius: 20px;
    padding: .25rem .8rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: .25rem;
    font-weight: 600;
    font-family: "Poppins", 'Roboto';
    max-width: max-content;
}

.seller-details__wrapper {
    margin-top: 1rem;
}

.product-seller-rating__wrapper {
    margin-top: 1rem;
}


@media (min-width: 768px) {
    .product-page__display-section {
        padding: 1rem .5rem;
    }

    .product-page__display-section {
        display: flex;
    }

    .product-info__details {
        flex-basis: 45%;
    }

    .product-media__section {
        flex-basis: 45%;
        overflow: hidden;
    }

    .product-seller__details {
        display: block;
    }

    .product-info__details {
        display: flex;
        flex-direction: column;
    }

    .product-info__details-wrapper {
        flex: auto;
    }
}

/* upload product */

.upload-media-grid {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    transition: all 200ms;
}

.upload-img__file-wrapper {
    height: 130px;
    width: 200px;
    position: relative;
    border: 1px solid #666;
    box-shadow: 0 0 10px;
    margin-top: 1rem;
}

.upload-img__file-wrapper button {
    all: unset;
    position: absolute;
    right: 2%;
    top: 1%;
    background-color: #FFF;
    border-radius: 50%;
    padding: .2rem;
    cursor: pointer;
    box-shadow: 0 0 5px;
}

.upload-img__file-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.upload-img__file-wrapper button svg {
    color: #ff0b0b;
    height: .875rem;
    width: .875rem;
}

.product-reviews__container {
    max-width: 600px;
}