.search-page {
    padding-top: 1rem;
}

.search-items {
    padding-top: 2rem;
    flex: auto;
}

.search-filters {
    width: 100%;

}

.search-filter__section {
    margin-block: .5rem 1rem;
}

.sf-section__heading {
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: .25rem;
}

.search-categories__list {
    list-style: none;
}

.search-categories__el {
    cursor: not-allowed;
    margin-bottom: .25rem;
    margin-left: .25rem;
}

.search-categories__el:hover {
    /* text-decoration: underline; */
}

.search-filter__option-label {
    font-weight: 600;

}

.search-filter__option-values {
    margin-block: .25rem 1rem;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.search-filter__option-values .filter-option {
    color: #333333;
    padding: .25rem .5rem;
    border: 1px solid #3333;
    border-radius: .75rem;
    font-size: var(--text-sm);
    border-width: 2px;
}

/* .search-filter__option-values .filter-option:hover, */
.search-filter__option-values .filter-option.active {
    border-width: 2px;
    cursor: pointer;
    color: #007185;
    border-color: #007185;
}


.search-items-query {
    margin-block: .5rem 1rem;
    font-size: var(--text-sm);
}

.search-filter__section-wrapper {
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s ease-in-out;
}

.search-filter__section-wrapper.active {
    max-height: 1000px;
}

.search-pagination__wrapper {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    /* justify-content: flex-end; */
}


@media (min-width: 768px) {
    .search-page .products-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem .5rem;
    }

    .search-pagination__wrapper {
        justify-content: flex-end;
    }
}


@media (min-width: 900px) {
    .search-filter__section-wrapper {
        max-height: unset;
    }

    .search-toggle__filters-btn {
        display: none;
    }

    .search-filters {
        flex-shrink: 0;
        width: 22rem;
    }

    .search-page {
        display: flex;
        gap: .5rem;
    }

    .search-page .products-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem .5rem;
    }
}

@media (min-width: 1100px) {
    .search-page .products-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* gap: 2rem .5rem; */
    }
}