/* Carousel */

.carousel-container {
    height: 400px;
    position: relative;
}

.carousel-body {
    height: inherit;
    overflow: hidden;
    /* border: 4px solid darkred; */
}

.carousel-slides__container {
    height: 100%;
    display: flex;
    transition: transform 300ms;
}

.carousel-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.carousel-slide img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 10px #555;
}

.carousel-btn:hover {
    box-shadow: 0 0 10px #555;
}

.carousel-btn svg {
    --size: 1rem;
    height: var(--size);
    width: var(--size);
}

.carousel-btn--right {
    right: 1%;
}

.carousel-btn--left {
    left: 1%;
}

@media (min-width: 768px) {
    .carousel-btn svg {
        --size: 1.5rem;
    }
}

/* Product Card */

.product-card {
    height: 280px;
    /* width: 250px; */
    padding: .2rem;
    box-shadow: 0 0 9px rgb(218, 218, 218);
    border-radius: 3px;
    cursor: pointer;
}

.product-card__image {
    height: 180px;
}

.product-card__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-card__details {
    height: 100px;
    padding-block: .6rem;
    display: flex;
    flex-direction: column;
    color: #555;
}

.card-details__upper {
    flex: auto;
}

.product-card__name {
    margin-block: .3rem;

}

.product-card__price {
    font-family: "Poppins";
    color: #000;
}

/* header-simple  */
.header-simple {
    display: flex;
    align-items: center;
    padding: 1rem .5rem;
}

.header-simple section {
    flex-basis: 100%;

}

.plain-header__heading {
    font-weight: 600;
    font-size: var(--text-lg);
    text-align: center;
    white-space: nowrap !important;
}

/* address-card__wrapper */

.address-card__wrapper {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 0 0 5px #b3b3b3;
    padding: .5rem;
    border-radius: .5rem;
}

/*  */

.auth-input.danger {
    border: 1px solid #ff0000 !important;
    /* color: #ff0000; */
}


/*  */
.product-review-card {
    margin-block: 2rem 4rem;
}

.review-card__upper-sec-1 {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.review-card__profile-img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.rc-rating-row {
    margin-block: .5rem;
    display: flex;
    align-items: center;
    gap: .4rem;
}

.rc-rating-row svg.active {
    fill: #ffeb3b;
    color: #e5c100;
}

.rating-row {
    /* margin-block: .5rem; */
    display: flex;
    align-items: center;
    gap: .4rem;
}

.rating-row svg.active {
    fill: #ffeb3b;
    color: #e5c100;
}

@media (max-width:600) {
    .review-card__lower {
        font-size: var(--text-sm);
    }

    .rc-rating-row svg {
        height: 1rem;
        width: 1rem;
    }
}


.freeze-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.714);
    display: flex;
    justify-content: center;
    align-items: center;
}

.freeze-spinner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.category-card {
    height: 10rem;
    width: 10rem;
    padding: .5rem;
    border-radius: 9px;
    background-color: #f7f7f7;
    transition: all 300ms;
}


.category-card:hover {
    box-shadow: 0 0 10px #c8c8c8;
    cursor: pointer;

}

.category-card__img {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card__img img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.category-card__title {
    height: 1.2rem;
    font-size: var(--text-sm);
    font-weight: 500;
    font-family: "Poppins", "Roboto";
    text-align: center;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.payment-method-card.active {
    border: .15rem solid #ffc800;
}

.payment-method-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .6rem;
    border-radius: 5px;
    margin-bottom: .5rem;
    box-shadow: 0 0 5px #e1e1e1;
    border: .15rem solid transparent;
}

/* 
.payment-method-card:hover {
    box-shadow: 0 0 10px #b3b3b3a8;
} */

.pm-card__img-wrapper {
    height: 3rem;
    width: 5rem;
}

.pm-card__img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*  */
.input-box {}

.input-box__label {
    margin-left: .25rem;
    margin-bottom: .25rem;
    font-size: var(--text-sm);
}

/* input-box__input */