/* Carousel */


.productMedia-carousel__wrapper {
    box-shadow: 0 0 5px #ebebeb;
    margin: 0.25rem;
    padding: 0.25rem;
}

.carousel-container {
    height: 400px;
    position: relative;
}

.carousel-body {
    height: inherit;
    overflow: hidden;
}

.carousel-slides__container {
    height: 100%;
    display: flex;
    transition: transform 300ms;
}

.carousel-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.carousel-slide img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    z-index: 1;
    /* box-shadow: 0 0 10px #555; */
    box-shadow: 0 .0625rem .125rem .0625rem #00000026;
}


.carousel-btn:hover {

    /* box-shadow: 0 0 10px #555; */
    box-shadow: 0 0 10px #00000049;
}

.carousel-btn svg {
    --size: 1rem;
    height: var(--icon-size-sm);
    width: var(--icon-size-sm);
}

.carousel-btn--right {
    right: 1%;
}

.carousel-btn--left {
    left: 1%;
}

.carousel-slides__navgiation-wrapper {
    margin-top: .5rem;
    width: 90%;
    margin-inline: auto;
    position: relative;
    border-top: 1px solid lightgray;
    padding: 0.25rem;
}


.carousel-slides__nav-elements__wrapper {
    overflow: hidden;
    height: 60px;
}

.carousel-slides__nav-elements__container {
    display: flex;
    height: 100%;
    padding-inline: 0.25rem;
    gap: .25rem;
    transition: transform 300ms;
}



.carousel-slides__nav-element {
    width: 70px;
    height: 100%;
    border: 1px solid #b7b7b7;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.carousel-slides__nav-element.active {
    border-color: rgb(114, 0, 48);
}

.carousel-slides__nav-element:hover {
    /* border-color: rgb(195, 195, 195); */
    cursor: pointer;

}

.carousel-slides__nav-element img {
    max-height: 55px;
    object-fit: contain;
    max-width: 70px;
    margin: auto;
}

.media-carousel__nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

.media-carousel__nav-btn:hover {
    box-shadow: 0 .0625rem .125rem .0625rem #00000026;
}


.media-carousel__nav-btn--right {
    right: -5%;
}

.media-carousel__nav-btn--left {
    left: -5%;
}

/* @media (min-width: 768px) {
    .carousel-btn svg {
        --size: 1.5rem;
    }
} */

/* Product Card */

.product-card {
    height: 290px;
    /* width: 250px; */
    padding: .2rem;
    box-shadow: 0 0 9px rgb(218, 218, 218);
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;
}

.product-card:hover {
    border-color: #dadada;
}

.product-card__image {
    height: 180px;
}

.product-card__image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-card__details {
    height: 100px;
    padding-block: .6rem;
    display: flex;
    flex-direction: column;
    color: #555;
}

.card-details__upper {
    flex: auto;
}

.product-card__name {
    margin-block: .3rem;
    font-size: var(--text-xs);
}

@media (min-width: 786px) {
    .product-card__name {
        margin-block: .3rem;
        font-size: var(--text-sm);
    }
}


.product-card__price {
    font-family: "Roboto", sans-serif;
    font-size: var(--text-sm);
    font-weight: 500;
    color: #000;
}

/* header-simple  */
.header-simple {
    display: flex;
    align-items: center;
    padding: 1rem .5rem;
}

.header-simple section {
    flex-basis: 100%;

}

.plain-header__heading {
    font-weight: 600;
    font-size: var(--text-lg);
    text-align: center;
    white-space: nowrap !important;
}

/* address-card__wrapper */

.address-card__wrapper {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 0 0 5px #b3b3b3;
    padding: .5rem;
    border-radius: .5rem;
}

/*  */

.auth-input.danger {
    border: 1px solid #ff0000 !important;
    /* color: #ff0000; */
}


/*  */
.product-review-card {
    margin-block: 2rem 4rem;
}

.review-card__images {
    display: flex;
    gap: .25rem;
    margin-top: .5rem;
}

.review-card__images img {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
}

.review-card__upper-sec-1 {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.review-card__profile-img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.rc-rating-row {
    margin-block: .5rem;
    display: flex;
    align-items: center;
    gap: .4rem;
}

.rc-rating-row svg.active {
    fill: #ffeb3b;
    color: #e5c100;
}

.rating-row {
    /* margin-block: .5rem; */
    display: flex;
    align-items: center;
    gap: .4rem;
}

.rating-row.sm svg {
    height: 1.25rem;
    width: 1.25rem;
}

.rating-row.xs {
    gap: .25rem;
}

.rating-row.xs svg {
    height: 1rem;
    width: 1rem;
}

.rating-row svg.active {
    fill: #ffeb3b;
    color: #e5c100;
}

@media (max-width:600) {
    .review-card__lower {
        font-size: var(--text-sm);
    }

    .rc-rating-row svg {
        height: 1rem;
        width: 1rem;
    }
}


.freeze-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100dvh;
    background-color: rgba(255, 255, 255, 0.714);
    display: flex;
    justify-content: center;
    align-items: center;
}

.freeze-spinner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.category-card {
    height: 8rem;
    /* width: 10rem; */
    padding: .5rem;
    border-radius: .25rem;
    background-color: #f7f7f7;
    transition: all 300ms;
    border: 2px solid transparent;
}


.category-card:hover {
    border-color: #d3d3d3;
    /* box-shadow: 0 0 10px #c8c8c8; */
    cursor: pointer;

}

.category-card__img {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card__img img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.category-card__title {
    height: 1rem;
    font-size: var(--text-xs);
    font-weight: 500;
    font-family: "Poppins", "Roboto";
    text-align: center;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
}

.payment-method-card.active {
    border: .15rem solid #ffc800;
}

.payment-method-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .6rem;
    border-radius: 5px;
    margin-bottom: .5rem;
    box-shadow: 0 0 5px #e1e1e1;
    border: .15rem solid transparent;
}

/* 
.payment-method-card:hover {
    box-shadow: 0 0 10px #b3b3b3a8;
} */

.pm-card__img-wrapper {
    height: 3rem;
    width: 5rem;
}

.pm-card__img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*  */
.input-box {}

.input-box__label {
    margin-left: .25rem;
    margin-bottom: .25rem;
    font-size: var(--text-sm);
}

/* input-box__input */

.pagination-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.pagination-count__btn {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: var(--color-primary-bg);
    border-radius: .25rem;
    /* font-weight: bold; */
    cursor: pointer;
}

.pagination-count__btn.active {
    background-color: var(--color-primary-bg);
    color: #FFF;
}