/* Product card */
.product-card {
    height: 290px;
    padding: .2rem;
    box-shadow: 0 0 9px #dadada;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;
}

.product-card:hover {
    border-color: #dadada;
}

.product-card__image {
    height: 180px;
}

.product-card__image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-card__details {
    height: 100px;
    padding-block: .6rem;
    display: flex;
    flex-direction: column;
    color: #555;
}

.card-details__upper {
    flex: auto;
}

.product-card__name {
    margin-block: .3rem;
    font-size: var(--text-xs);
    min-height: 2rem;
}

.product-card__price {
    font-family: "Poppins", "Roboto", sans-serif;
    font-size: var(--text-sm);
    font-weight: 500;
    color: #000;
}

@media (min-width: 786px) {
    .product-card__name {
        margin-block: .3rem;
        font-size: var(--text-sm);
    }
}


/* Rating row */

.rating-row {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.rating-row.sm svg {
    height: 1.25rem;
    width: 1.25rem;
}

.rating-row.xs {
    gap: .25rem;
}

.rating-row.xs svg {
    height: 1rem;
    width: 1rem;
}

.rating-row svg.active {
    fill: #ffeb3b;
    color: #e5c100;
}

/* Category card */

.category-card {
    height: 8rem;
    padding: .5rem;
    border-radius: .25rem;
    background-color: #f7f7f7;
    transition: all 300ms;
    border: 2px solid transparent;
}


.category-card:hover {
    border-color: #d3d3d3;
    cursor: pointer;
}

.category-card__img {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card__img img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.category-card__title {
    height: 1rem;
    width: 100px;
    font-weight: 500;
    font-family: "Poppins", "Roboto";
    font-size: var(--text-xs);
    text-align: center;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*  */

.pagination-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.pagination-btn {
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #0000003b;
    border-radius: .25rem;
    background-color: #FFF;
    transition: all 200ms;
    user-select: none;
}

.pagination-btn:hover {
    background-color: rgba(0, 0, 0, 0.034);
}

.pagination-btn.active {
    background-color: #00000014;
    color: #000;
}

/* -------------------------------- */
/* address-card__wrapper */

.address-card__wrapper {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 0 0 5px #b3b3b3;
    padding: .5rem;
    border-radius: .5rem;
}

/*  */


/*  */
.product-review-card {
    margin-block: 2rem 4rem;
}

.review-card__images {
    display: flex;
    gap: .25rem;
    margin-top: .5rem;
}

.review-card__images img {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
}

.review-card__upper-sec-1 {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.review-card__profile-img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.rc-rating-row {
    margin-block: .5rem;
    display: flex;
    align-items: center;
    gap: .4rem;
}

.rc-rating-row svg.active {
    fill: #ffeb3b;
    color: #e5c100;
}


@media (max-width:600) {
    .review-card__lower {
        font-size: var(--text-sm);
    }

    .rc-rating-row svg {
        height: 1rem;
        width: 1rem;
    }
}


.freeze-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100dvh;
    /* background-color: rgba(255, 255, 255, 0.714); */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.freeze-spinner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.payment-method-card.active {
    border: .15rem solid #ffc800;
}

.payment-method-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .6rem;
    border-radius: 5px;
    margin-bottom: .5rem;
    box-shadow: 0 0 5px #e1e1e1;
    border: .15rem solid transparent;
}

/* 
.payment-method-card:hover {
    box-shadow: 0 0 10px #b3b3b3a8;
} */

.pm-card__img-wrapper {
    height: 3rem;
    width: 5rem;
}

.pm-card__img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*  */

.input-box__label {
    margin-left: .25rem;
    margin-bottom: .25rem;
    font-size: var(--text-sm);
}


.dropdown-container {
    position: relative;
}

.dropdown-container__detail-wrapper {
    position: absolute;
    padding: .25rem;
    z-index: 2;
    top: 130%;
    left: auto;
    right: 0;
    /* text-align: center; */
    min-width: 150px;
    box-shadow: 0 0 5px #bcbcbc;
    background-color: #ffff;
    border-radius: 5px;
}

.dropdown-option__wrapper {
    padding: .5rem .25rem;
    /* font-weight: 500; */
    /* font-family: Poppins, roboto; */
    /* font-size: var(--text-xs); */
}

.dropdown-option__wrapper:not(:last-of-type) {
    /* margin-bottom: .5rem; */
}

.dropdown-option__wrapper:hover {
    cursor: pointer;
    background-color: #ececec;
    transition: all 200ms;
}



.single-file-upload-wrapper {
    height: 6rem;
    width: 6rem;
    position: relative;
    box-shadow: 0 0 5px #555;

}

.single-file-upload-wrapper input,
.single-file-upload-wrapper img {
    height: 100%;
    width: 100%;
}
.single-file-upload-wrapper img {
    border: 1px solid;
    border-radius: .5rem;
}

.single-file-upload-wrapper input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}