.data-grid {
    overflow-y: auto;
    /* overflow-x: scroll; */
}

.data-cell {
    padding: .25rem .5rem;
    flex-basis: 100%;
    box-sizing: border-box;
    border: 2px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
}

.data-cell:active {
    /* border-color: lightcoral; */
}

.data-grid--border .data-row:first-of-type {
    border-top: 1px solid;
}

.data-grid--border .data-row {
    border-bottom: 1px solid;
}


.data-grid--sm .data-cell {
    font-size: var(--text-sm);
}



.data-grid--sm .data-cell {
    font-size: var(--text-sm);
}

.data-grid--full {
    width: 100%;
}

.data-row {
    width: 100%;
    display: flex;
}


.data-row:hover {
    background-color: #edededee;
}

.data-row--head .data-cell {
    font-weight: 600;
}

.data-child--rows-wrapper {}

@media (max-width:786px) {}