.web-form__fields {
    --form-cols: 1;
    display: grid;
    grid-template-columns: repeat(var(--form-cols), 1fr);
}


.web-form .input-box__label {
    margin-bottom: .5rem;
}

.web-form .input-box {
    margin-bottom: 1rem;
}

.input-box__select {
    position: relative;
}

.input-box__select-icon {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    pointer-events: none;
}

.input-box__input select {
    -webkit-appearance: none;
    appearance: none;
}

/* 
input:invalid {
    outline: 1px solid #ff3838;
} */

.mandatory-flag {
    color: #ff3838;
}

@media (min-width: 550px) {
    .web-form__fields {
        gap: .5rem;
        --form-cols: 2;
    }
}

.input-file__wrapper {
    height: 6rem;
    width: 6rem;
    position: relative;
    cursor: pointer;
}

.input-file__wrapper input {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.input-file__wrapper img {
    height: 100%;
    width: 100%;
}

.file-review__wrapper {
    height: 6rem;
    width: 6rem;
    position: relative;
    border: 1px solid;
}

.file-review__wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.file-review__wrapper-btn {
    padding: .15rem;
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 1%;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px #a3a3a3;
    background-color: #cd0000;
}

.file-review__wrapper-btn svg {
    color: #FFF;
}

@media (min-width: 786px) {
    .input-file__wrapper {
        height: 8rem;
        width: 8rem;
    }

    .file-review__wrapper {
        height: 8rem;
        width: 8rem;
    }
}