@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import url("./layouts/header.css");
@import url("./layouts/footer.css");
@import url("./pages/searchpage.css");



:root {
    --text-xs: .75rem;
    --text-sm: .875rem;
    --text-md: .9rem;
    --text-lg: 1rem;
    --text-xl: 1.15rem;
    --text-xxl: 1.75rem;
    --text-3xl: 2rem;
    --text-4xl: 2.25rem;
    --text-5xl: 2.5rem;



    --icon-size-sm: 1rem;
    --icon-size-md: 1.25rem;

    --color-dark-grey: #434343;
    --color-grey-md: #666;

    --table-border-color: #c4c4c4;
    --table-cells-padding: .45rem;


    --color-pink: #f11682;
    --color-primary: var(--color-dark-grey);
    --color-primary-bg: var(--color-dark-grey);
    --text-color-primary: var(--color-grey-md);
    --font-fm-poppins: 'Poppins', 'Roboto', sans-serif;

    --input-font: 'Poppins', 'Roboto', sans-serif;
    --input-border-color: #666;
}




@media (min-width: 768px) {


    :root {
        --text-xs: .75rem;
        --text-sm: .875rem;
        --text-md: 1rem;
        --text-lg: 1.25rem;
        --text-xl: 1.5rem;
        --text-xxl: 1.75rem;


        --icon-size-md: 1.5rem;
    }
}



body {
    color: var(--text-color-primary);
}

#app-container {
    min-height: 100vh;
    max-width: 1280px;
    margin-inline: auto !important;
}


/* Button */
.btn {
    padding: .4rem 1rem;
    border: none;
    outline: transparent;
    cursor: pointer;
    font-size: var(--text-sm);
    border-radius: .25rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.btn .spinner {
    border-color: currentColor;
    border-bottom-color: transparent;
}

.btn-label.hidden {
    visibility: hidden;

}

.btn-loading__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.btn-loading__wrapper.loading {
    display: block;
}

.btn-icon--sm {
    padding: .45rem;
}

.btn-sm {
    padding: .4rem 1rem;
    font-size: var(--text-sm);
}

.btn-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn-primary svg {
    color: #fff;
}

.btn-primary:focus-visible {
    background-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: #575757;
}

.btn-full {
    width: 100%;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    line-height: 1;
    font-size: var(--text-sm);

}

.btn-icon svg {
    height: var(--icon-size-md);
    width: var(--icon-size-md);
}


.input {
    border: none;
    outline: none;
    border: 1px solid var(--input-border-color);
    padding: .4rem .25rem;
    border-radius: .25rem;
    font-family: var(--input-font);
    /* width: max-content; */
}

.input-sm {
    width: 5rem;
}

.link {
    cursor: pointer;
    color: #007185;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*  */

.page-container {
    padding-inline: .5rem;
    min-height: 100vh;
}


.section-heading {
    font-size: var(--text-lg);
    font-weight: 500;
    margin-bottom: .5rem;
}

/* user pages */


.user-sidebar {
    display: none;
}

.sidebar-page__content {
    padding: 1rem 0.5rem;

}

@media (min-width: 900px) {
    .page-container {
        padding-inline: 1rem;
    }

    .sidebar-page {
        display: flex;
        gap: 1rem;
    }

    .user-sidebar {
        display: block;
        flex-shrink: 0;
    }

    .sidebar-page__content {
        flex: auto;
        padding-top: 1rem;
    }
}


.table {
    border-collapse: collapse;
}


.table td,
th {
    padding: var(--table-cells-padding);
    font-size: var(--text-sm);
}

.table th {
    text-align: left;
}


.table tr,
td,
th {
    border: 1px solid var(--table-border-color);
}