.header-main__nav {
    padding: 1rem .5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .875rem;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.header-center__section {
    grid-row: 2;
    grid-column: span 2;
}

.header-left__section {
    display: flex;
    gap: .35rem;
    align-items: center;
}

.header-left__mobile-menu svg {
    height: 1.75rem;
    width: 1.75rem;
}

/* 
.header-text__logo {
    font-weight: 700;
    font-size: var(--text-xl);
    font-family: 'Poppins', sans-serif;
    color: #7f7f7f;
    cursor: pointer;
} */


.header-logo img {
    width: 120px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: .5rem;
}

.search-box__input {
    height: 2.25rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    border: 1px solid #939393;
    border-radius: 5px;
}

.search-box__input input {
    flex: auto;
    height: 100%;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-xs);
    background-color: transparent;

}

.search-box__input button {
    all: unset;
    color: #444444;
    cursor: pointer;
}

.search-box__input button svg {
    height: var(--icon-size-md);
    width: var(--icon-size-md);
}

.search-box__input:focus-within {
    box-shadow: 0 0 10px #dededeee;
}


.header-search-box {
    position: relative;
}

.header-search-box:focus-within .search-results__container {
    display: block;
}

.search-results__container {
    position: absolute;
    top: 100%;
    background-color: #fff;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 5px 10px #7f7f7f;
    z-index: 9;

    display: none;
}

.search-results__list {
    list-style: none;
}

.search-results__list li {
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-sm);
    padding: 0.5rem .6rem;
    cursor: pointer;
}

.search-results__list li:hover {
    background-color: #dbdbdb;
}

.search-results__list li:not(:last-of-type) {
    border-bottom: 1px solid #c5c5c5;
}

.header-nav__link {
    cursor: pointer;
}

.header-nav__link svg {
    height: var(--icon-size-md);
    width: var(--icon-size-md);
}


.nav-cart__link {
    position: relative;
    margin-right: .25rem;
}

.nav-cart__link .count {
    position: absolute;
    top: -40%;
    right: -50%;
    background-color: #F61581;
    color: #fff;
    padding: .2rem;
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .75rem;
    border-radius: 50%;
    font-weight: 500;
    font-family: 'Poppins', "Roboto";
}




@media (min-width: 768px) {
    .search-box__input {
        height: 2.5rem;
    }

    .search-box__input input {
        font-size: var(--text-sm);
    }

    .header-left__mobile-menu {
        display: none;
    }

    .header-logo img {
        width: 150px;
    }

    .header-center__section {
        all: unset;
        flex: auto;
        padding-inline: 4rem;
    }

    .header-main__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-search-box {
        /* width: 400px; */
        width: 100%;
    }
}


@media (min-width: 1000px) {
    .header-search-box {
        /* width: 500px; */
    }
}